@font-face {
    font-family: TTLakes-regular;
    src: url(TTLakes/TTLakes-Regular.ttf);
  }

  @font-face {
    font-family: TTLakes-bold;
    src: url(TTLakes/TTLakes-Bold.ttf);
  }

  @font-face {
    font-family: TTLakes-medium;
    src: url(TTLakes/TTLakes-Medium.ttf);
  }

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    max-width: 1366px;
    margin: 0;
    font-family: TTLakes-regular;
}

.content__adaptive-container {
    display: flex;
    flex-wrap: wrap;
}
.content__adaptive-container__article,
.content__adaptive-container__photo-container {
    width: 100%;
    min-height: 1px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    box-shadow: 0 0 52px 16px #0E185033;
}

.side-menu .menu {
    height: 86px;
}

.side-menu__categories {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 34px;
    padding: 0;
}

.side-menu__categories li {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    font-family: TTLakes-medium;
    color: #1B1C21;
    letter-spacing: -0.2px;
}

li.side-menu__categories--selected {
    position: relative;
    color: #7E7E82;
}

li.side-menu__categories--selected::before {
    position: absolute;
    top: -4px;
    left: -24px;
    content: '';
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;    
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: auto;
    height: 88px;
    background-color: #ffffff;
    box-shadow: inset 0 -1px 1px -1px #D9FFF5;
}

.menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    transition-duration: 1s;
}
.menu__icon--hides {
    display: none;
}

.menu__icon:hover {
    opacity: 0.5;
}

.menu__logo {
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.menu__divider {
    flex-shrink: 0;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 20px;
    margin-left: 4px;
}

.menu__divider--hides {
    display: none;
}

.side-menu .menu:first-child {
    margin-left: 24px;
}

.side-menu .menu__icon {
    margin-right: 24px;
}

.side-menu__footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;    
    margin-left: 24px;    
    margin-bottom: 32px;
}

.side-menu__footer__icons {
    display: flex;
}

.side-menu__footer__icons .menu__icon {
    margin-right: 16px;
    margin-bottom: 0px;
}

.side-menu__footer__mail p {
    margin: 0;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.side-menu__footer__phone-number p {
    margin: 0;
    margin-top: 12px;
    font-family: TTLakes-bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.side-menu__footer__languages {
    display: flex;
    margin: 0;
    margin-top: 40px;
}

.side-menu__footer__languages div{
    margin: 0;
    margin-right: 7px;    
}

.side-menu__footer__languages--selected {
    color: #7E7E82;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    background-color: #F8F8F8;
}

.content {
    
}

.content__title {
    display: flex;
    margin-top: 24px;
    position: relative;
    font-family: TTLakes-bold;
    font-size: 28px;
    letter-spacing: -0.6px;
}

.content__title__highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-right-radius: 4px;    
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
}

.content__title__text {    
    margin-left: 16px;
    line-height: 40px;
}

.content__title__link {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: 20px;
    font-family: TTLakes-Regular;
}

.content__title__links {
    display: none;
}

.content__title__link__text {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-align: right;
}

.content__title__link__icon { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-left: 8px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
}

.content__scroll {
    position: relative;
    margin-top: 24px;
    margin-left: 16px;
}

.content__scroll__list {
    white-space: nowrap;
    overflow: auto;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.content__scroll .content__scroll__gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 40px;
    z-index: 2;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.content__scroll__list div {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    letter-spacing: -0.2px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    margin-right: 20px;
}


.content__scroll__list span {
    vertical-align: top;
    line-height: 24px;
}

.content__scroll__list--selected {
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 2px #B8FFEC;
    width: auto;
    height: 40px;
    padding-left: 17px;
    padding-right: 17px;
}

.content__scroll__list--break {
    display: none;
}

.content__adaptive-container__article__text {
    max-height: 90px;
    margin-top: 24px;
    margin-left: 16px;    
    margin-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;        
    vertical-align: top;
}

.content__adaptive-container__article__text p {
    margin: 0;
    margin-bottom: 20px;
}

.content__adaptive-container__article__read-more {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

.content__adaptive-container__article__read-more__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 16px;
    color: #1B1C21;
    font-family: TTLakes-medium;
}

.content__adaptive-container__photo-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #F8F8F8;
    max-height: 176px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content__adaptive-container__photo-container__image {
    width: 100%;
}

@media (min-width: 768px) {
    .content__adaptive-container__article {
        flex: 1;
        max-width: 50%;
        order: 1;
    }
    .content__adaptive-container__photo-container {
        flex: 1;
        max-width: 50%;
        order: 2;
    }
    div.menu__divider--hides {
        display: inherit;
    }
    div.menu__icon--hides {
        display: inherit;
    }
    .menu:first-child {
        margin-left: 24px;
    }
    .menu__icon:last-child {
        margin-right: 24px;
    }
    .content__title__text { 
        margin-left: 24px;
    }

    
    .content__scroll {
        margin-top: 32px;
        margin-left: 24px;
    }

    .content__adaptive-container__article__text {
        max-height: 160px;
        margin-left: 24px;
        margin-right: 48px;
        line-height: 20px;
    }
    .content__adaptive-container__article__read-more {
        margin-top: 10px;   
        margin-left: 33px;
    }
    .content__adaptive-container__photo-container {
        border-radius: 6px;
        max-height: 208px;
        margin-top: 32px;
        padding-right: 25px;
    }
}

@media (min-width: 1120px) {

    header .menu {
        display: none;
    }

    .content__title {
        margin-top: 42px;
    }

    .content__title__highlight {
        width: 3px;
        border-radius: 2px;
    }

    .content__title__text { 
        margin-left: 32px;        
    }

    .content__title__links {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 12px;
    }

    .content__scroll {
        margin-top: 8.37px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: -12px;
    }

    .content__scroll__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        white-space: normal;
        overflow: none;
        margin-bottom: 0;
    }

    .content__scroll__list--selected {
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: inset 0 0 0 2px #B8FFEC;
        width: auto;
        height: 40px;
        padding-left: 23px;
        padding-right: 23px;
    }
    

    .content__scroll__list--break {
        flex-basis: 100%;
        height: 0;
        display: inherit;
    }

    div.content__scroll__list--break {
        margin-top: 7px;
        padding: 0;
    }

    .content__scroll__list--feedback{
        padding-left: 24px;
        margin-top: 15px;
    }

    .content__adaptive-container__article {
        flex: 1;
        max-width: 50%;
        order: 1;
    }
    .content__adaptive-container__photo-container {
        flex: 1;
        max-width: 50%;
        order: 2;
    }
    .content__adaptive-container__article__text {
        max-height: 160px;
        margin-left: 34px;
        margin-right: 36px;
    }
    .content__adaptive-container__photo-container {
        border-radius: 6px;
        max-height: 307px;
        margin-top: 10px;
        padding-right: 28.65px;
    }
    .content__adaptive-container__article__read-more {
        margin-top: 13px;   
        margin-left: 40px;
    }
}